<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Positionierungsarten</title>
</head>
<body>
    <!-- Statische Positionierung -->
    <div style="position: static; width: 100px; height: 100px; background-color: lightblue;">
        Statisch
    </div>

    <!-- Relative Positionierung -->
    <div style="position: relative; width: 100px; height: 100px; background-color: lightgreen; top: 0px; left: 0px;">
        Relativ
    </div>

    <!-- Absolute Positionierung -->
    <div style="position: absolute; width: 100px; height: 100px; background-color: lightcoral; top: 0px; left: 100px;">
        Absolut
    </div>

    <!-- Fixe Positionierung -->
    <div style="position: fixed; width: 100px; height: 100px; background-color: lightgoldenrodyellow; top: 0px; left: 200px;">
        Fix
    </div>

    <!-- Sticky Positionierung -->
    <div style="position: sticky; width: 100px; height: 100px; background-color: lightpink; top: 0px; left: 0px">
        Sticky
    </div>
</body>
</html>
